header, footer {
    text-align: center;
    background-color: rgb(102, 153, 255); /* or #6699ff */
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

td.navigation {
    width: 30%;
    text-align: center;
}